@font-face {
  font-family: AltHazer;
  src: url("../fonts/alt_hazer.ttf"); }

/* Main overlay */
#loader {
  width: 100%;
  height: 100%;
  background: #fff;
  opacity: 1;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  -ms-transition: all 300ms ease-out;
  transition: all 300ms ease-out; }

#loading-img {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

.secondary-loader {
  width: 100%;
  height: 100%;
  background: #fff;
  opacity: 1;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  -ms-transition: all 300ms ease-out;
  transition: all 300ms ease-out; }

.secondary-loading-img {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0; }

/* Top navigation */
ul#nav > li a {
  color: #000;
  /*font-family: 'AltHazer', sans-serif;*/
  font-size: 32px;
  letter-spacing: 2px; }

ul#nav > li.active {
  background: #111;
  margin: 0; }

ul#nav > li.active a {
  color: white;
  border-bottom: none; }

/* Header */
#header p.site-desc {
  /*  font-family: 'AltHazer', sans-serif;*/
  letter-spacing: 2px;
  color: #000; }

/* Services */
.columns > h4 {
  /*  font-family: 'AltHazer', sans-serif;*/
  font-size: 32px !important;
  letter-spacing: 2px; }

/* Blog */
.white-space {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word; }

/* About */
.box-about h3 {
  /*  font-family: 'AltHazer', sans-serif;*/
  color: #000;
  font-size: 32px;
  border-bottom: 1px solid #000;
  line-height: 26px;
  margin-bottom: 30px; }

.box-about > p {
  margin-top: 10px; }

.about-headline {
  /*font-family: 'Roboto Slab', Georgia, serif;*/
  margin-top: 5px; }

.button.full {
  /*  font-family: 'AltHazer', sans-serif;*/
  color: #fff;
  font-size: 32px;
  line-height: 26px; }

.underline {
  border-bottom: 0 solid #000; }

.edu-holder > a {
  margin-left: 2.5px;
  margin-right: 2.5px; }

.about-holder > img {
  margin-left: 2.5px;
  margin-right: 2.5px;
  border: 1px solid black; }

.about-map {
  width: 100%;
  height: 490px;
  margin-top: 74px; }
  .about-map > div {
    height: 100%; }

/*Works*/
.icon-holder > img {
  padding-left: 1px;
  padding-right: 1px;
  margin-bottom: 0 !important; }

.item > img {
  border: 1px solid black; }

.box-info > a > img {
  float: left;
  height: 80px;
  width: 80px;
  border: 1px solid black;
  margin-top: 15px;
  margin-right: 15px;
  margin-bottom: 20px !important; }

h3 > .icon-holder {
  float: right; }

.box-info > .icon-holder, .columns > .icon-holder {
  margin-top: 15px; }

#works.single .box-info {
  margin-bottom: 20px; }

#works.single .galleryImg {
  position: relative;
  line-height: 0.5;
  margin-bottom: 5px;
  border: 1px solid black; }

.galleryImg > img {
  margin-bottom: 0 !important; }

.box-info > .border-top {
  padding-top: 10px !important; }

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  -ms-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
  opacity: 0;
  color: white; }

.overlay > p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  margin: 0;
  margin-right: 10%;
  /*font-family: 'Roboto Slab', Georgia, serif;*/
  font-size: 34px;
  font-style: italic;
  line-height: 1.5;
  font-weight: 300;
  width: 80%;
  text-align: center; }

.galleryImg:hover .overlay {
  opacity: 0.9; }

.link-prev, .link-next {
  cursor: pointer; }

.inactive {
  display: none !important; }

/* Footer */
#footer ul#social li {
  display: inline-block !important; }

#footer ul#social li a {
  padding: 0;
  margin-right: 15px;
  display: inline;
  border: none !important; }

#footer ul#social li a > img {
  opacity: 0.8; }

#footer ul#social li a > img:hover {
  opacity: 1; }

#social {
  margin-top: 25px; }

/*Media queries*/
@media screen and (max-width: 1300px) {
  .icon-holder > img {
    width: 20px;
    height: 20px; }
  h3 > .icon-holder > img {
    width: 14.5px;
    height: 14.5px; }
  .box-info > a > img {
    width: 70px;
    height: 70px; }
  .overlay > p {
    font-size: 27px; } }

@media screen and (max-width: 959px) {
  ul#nav > li a {
    font-size: 24px; }
  #big-screen {
    display: none; }
  .box-info > a > img {
    width: 60px;
    height: 60px; }
  .overlay > p {
    font-size: 24px; } }

@media screen and (min-width: 959px) {
  #small-screen {
    display: none; } }

@media screen and (min-width: 767px) {
  .hamburger, .sidenav {
    display: none; } }

@media screen and (max-width: 480px) {
  .site-desc > .icon-holder, .columns > .icon-holder {
    display: none; }
  .overlay > p {
    font-size: 16px; } }

/*Sidebar */
.sidenav {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
  -webkit-transition: 0.5s; }

.sidenav.collapsed {
  width: 0; }

.sidenav a {
  /*  font-family: 'AltHazer', sans-serif;*/
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
  -webkit-transition: 0.3s; }

.offcanvas a:focus,
.sidenav a:hover {
  color: #f1f1f1; }

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 36px;
  margin-left: 50px;
  cursor: pointer; }

.sidenav li.active a {
  color: white; }

.hamburger {
  position: absolute;
  top: 10px;
  left: 10px;
  line-height: 1; }

.hamburger img {
  cursor: pointer;
  opacity: 0.8; }

.hamburger:hover img {
  opacity: 1; }

/*React router animations*/
.route-slider {
  position: absolute;
  width: 100%;
  background-color: white; }

.pageSlider-leave {
  transform: translate3d(0, 0, 0);
  opacity: 1; }

.pageSlider-leave.pageSlider-leave-active {
  transform: translate3d(100%, 0, 0);
  -webkit-transition: all 200ms;
  -moz-transition: all 600ms;
  -o-transition: all 600ms;
  -ms-transition: all 600ms;
  transition: all 600ms;
  opacity: 0.01; }

.pageSlider-enter {
  transform: translate3d(100%, 0, 0);
  opacity: 0.01; }

.pageSlider-enter.pageSlider-enter-active {
  transform: translate3d(0, 0, 0);
  -webkit-transition: all 200ms;
  -moz-transition: all 600ms;
  -o-transition: all 600ms;
  -ms-transition: all 600ms;
  transition: all 600ms;
  opacity: 1; }
